body {
    height: 100vh;
    background: url("../images/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar * {
    color: rgba(255, 255, 255, 0.8) !important;
}

.dropdown-menu * {
    color: rgba(0, 0, 0, 0.8) !important;
}

.btn-primary {
    background-color: #0e1e52 !important;
    border-color: #0e1e52 !important;
}

.btn-primary:hover {
    background-color: #18338b !important;
    border-color: #18338b !important;
}